* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-bg-grey {
  background-color: #282c34;
}

.h-font-white {
  color: white;
}

.popup {

  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

  }


}